@page
@model ConfirmEmailModel

<!-- Status Message -->
<partial name="_StatusMessage" model="Model.StatusMessage" />

<!-- Log In Button Link -->
<div class="text-center mt-4">
    <a asp-area="Identity" asp-page="/Account/Login" class="btn btn-primary">
        <i class="bi bi-box-arrow-in-right me-1"></i> Log In
    </a>
</div>
